@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-37">About</h1>
    <h1 class="display-69">By Matthew Alvarez</h1>
    <p>Purpose: This application is learning how to display information on a webpage in different tabs</a>.</p>
    
</div>
